*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}



/*index*/



body{
    background: url(images/background.svg);
    height: 100vh;
}

@font-face{
    font-family: 'Varela Round', sans-serif;
    src: url(font/VarelaRound-Regular.ttf); 
   }


   #current-time{
    color: #526470;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
   }


   .login-form {
    width: 360px;
    background: #f1f1f1;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.2em;
    color: #E46C6C;
  }

  .login-form p {
    text-align: center;
    margin-bottom: 45px;
    letter-spacing: 0.1em;
    color: #68B7FF;
    font-weight: 700;
  }
  
  .txtb {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
  }
  
  .txtb input {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
  
  .txtb span::before {
    content: attr(data-placeholder);
    position:absolute;
    top:50%;
    left:5px;
    color:#adadad;
    transform:translateY(-50%);
    z-index:-1;
    transition:.5s;
  }
  
  .txtb span::after{
    content: '';
    position:absolute;
    left:0%;
    top:100%;
   height:2px;
    background:linear-gradient(120deg, #68B7FF, #E46C6C);
    transition:.5s;
  }
  
  .focus + span::before{
    top:-5px;
  }
  
  .focus + span::after{
    width:100%;
  }
  
  .logbtn{
    display:block;
    width:100%;
    height:50px;
    border:none;
    background:linear-gradient(120deg, #3498db, #E46C6C,#68B7FF);
    background-size:200%;
    color:#fff;
  outline:none;
    cursor:pointer;
    transition:.5s;
    border-radius: 40px;
  }
  
  .logbtn:hover{
    background-position:right;
  }
  
  .bottom-text{
    margin-top:60px;
    text-align:center;
    font-size:13px;
    
  }

   
/* home */
.box-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    width:fit-content;
    flex-direction: column;
  }

  .quizContainer{
    display: flex;

  }

  .box{
    padding:30px;
    margin: 1.6rem;
    min-width: 18rem;
    width:fit-content;
    background: #C9E5FF;
    border: 3px solid #68B7FF;
    border-radius: 50px;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    transition:.2s all; 
    color: #526470;
    font-weight: 600;
  }
  
  .box-wrap:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }

  .box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }

  #display{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 0.305em;
    color: #68B7FF;
    padding-bottom: 3rem;
  }

  
  .homeContainer{
    margin: auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #526470;
  }

  .homeMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 3rem;
  
  
  }

  .homeMessage:after{
  content: "";
  float: left;
  background: #F0A1A1;
  width: 14rem;
  height: 6px;
  border-radius: 3px;
  margin-top: 5px;
  }


  @media screen and (max-width: 768px) {
     

  .box-wrap{
    display: flex;
    flex-direction: column;
  }

  .quizContainer{
    display: flex;
    flex-direction: column;
  
  }
    
  .homeContainer{
    margin-top: 6rem;
  }

  #display{
    text-align: center;
  }
  
  }

  